body{
background-image: url('/img/bg.png');
background-repeat:repeat-x;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1200px;
}
#Menu{
	position:relative;
	width: 70%;
	height: 120px;
	margin-right: auto;
	margin-left: auto;
	background-image:url('/img/Banner.png');
	background-position:50% 65%;
	text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 5px #000;
    -moz-box-shadow: inset 0px 0px 5px #000;
    box-shadow: inset 0px 0px 5px #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#LowerMenu{
	position:relative;
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 20px;
	bottom: -94px;
	list-style-type:none;
}
#UpperMenu{
	height: 33px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.Premium{
	background: #F5F5F5;
	border: 1em thin black;
}
.Premium:hover{
	background: #BEE3EB;
	-webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.Premium:not(hover){
	background: #F5F5F5;
	-webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.Turn {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.item {
display: inline-block;
}
.Turn{
	width:15em;
	text-decoration:none;
	padding:0.6em 1em;
	margin:0;
	background: white;
	-webkit-box-shadow: inset 0px 0px 2px #000;
    -moz-box-shadow: inset 0px 0px 2px #000;
    box-shadow: inset 0px 0px 2px #000;
}

.Turn:active{
	text-decoration: none;
	-webkit-box-shadow: inset 0px 0px 2px #000;
    -moz-box-shadow: inset 0px 0px 2px #000;
    box-shadow: inset 0px 0px 2px #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.Turn:not(hover){
	text-decoration: none;
	-webkit-box-shadow: inset 0px 0px 2px #000;
    -moz-box-shadow: inset 0px 0px 2px #000;
    box-shadow: inset 0px 0px 2px #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.Turn:hover{
	text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 10px #000;
    -moz-box-shadow: inset 0px 0px 10px #000;
    box-shadow: inset 0px 0px 10px #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.Turn:{
	text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 10px #000;
    -moz-box-shadow: inset 0px 0px 10px #000;
    box-shadow: inset 0px 0px 10px #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

li{display:inline;}

#LoginForm{
	top: 200px; 
	left: 650px; 
	position: absolute;
	width: 400px; 
	height: 325px; 
	box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: inset 0px 0px 5px #000;
    -moz-box-shadow: inset 0px 0px 5px #000;
    box-shadow: inset 0px 0px 5px #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#RegistrationForm{
	top: 200px; 
	left: 250px; 
	position: absolute;
	width: 400px; 
	height: 325px; 
	box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: inset 0px 0px 5px #000;
    -moz-box-shadow: inset 0px 0px 5px #000;
    box-shadow: inset 0px 0px 5px #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.NoStyle{
	text-decoration: none;
	color: black;
}
.NoStyle:hover{
	text-decoration: none;
	color: black;
}
.NoStyle:active{
	text-decoration: none;
	color: black;
}
.NoStyle:enabled{
	text-decoration: none;
	color: black;
}
.NoStyle:not(hover){
	text-decoration: none;
	color: black;
}